03_schema/src/schema/books_03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	百叶窗方式
	套娃和腊肠的结合
 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.example.org/book02"
	xmlns:tns="http://www.example.org/book02" elementFormDefault="qualified">
	<element name="book" type="tns:bookType"></element>
	<element name="id" type="int"/>
	<element name="title" type="string"/>
	<element name="content" type="string"/>
	<complexType name="bookType">
		<sequence>
			<element ref="tns:id"/>
			<element ref="tns:title"/>
			<element ref="tns:content"/>
		</sequence>
	</complexType>
</schema>