student-web/src/main/resources/META-INF/wsdl/student.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.student.konghao.org" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentWsService"
	targetNamespace="http://ws.student.konghao.org">
	<wsdl:types>
		<xsd:schema targetNamespace="http://ws.student.konghao.org">
			<xsd:element name="getStudent" type="tns:getStudent"/>
			<xsd:element name="getStudentResponse" type="tns:getStudentResponse"/>
			<xsd:element name="listRpByStu" type="tns:listRpByStu"/>
			<xsd:element name="listRpByStuResponse" type="tns:listRpByStuResponse"/>
			<xsd:element name="listRewardStu" type="tns:listRewardStu"/>
			<xsd:element name="listRewardStuResponse" type="tns:listRewardStuResponse"/>
			<xsd:element name="listPunishStu" type="tns:listPunishStu"/>
			<xsd:element name="listPunishStuResponse" type="tns:listPunishStuResponse"/>
			
			<xsd:complexType name="student">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="xh" type="xsd:string"/>
					<xsd:element name="ksh" type="xsd:string"/>
					<xsd:element name="sex" type="xsd:string"/>
					<xsd:element name="status" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="rewardPunish">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int"/>
					<xsd:element name="situation" type="xsd:string"/>
					<xsd:element name="year" type="xsd:int"/>
					<xsd:element name="semester" type="xsd:string"/>
					<xsd:element name="cause" type="xsd:string"/>
					<xsd:element name="isReward" type="xsd:int"></xsd:element>
					<xsd:element name="student" type="tns:student"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="getStudent">
				<xsd:sequence>
					<xsd:element name="xh" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="getStudentResponse">
				<xsd:sequence>
					<xsd:element name="student" type="tns:student"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="listRpByStu">
				<xsd:sequence>
					<xsd:element name="xh" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="listRpByStuResponse">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="rp" type="tns:rewardPunish"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="listRewardStu">
				<xsd:sequence>
					<xsd:element name="year" type="xsd:int"/>
					<xsd:element name="semester" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="listRewardStuResponse">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="stus" type="tns:student"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="listPunishStu">
				<xsd:sequence>
					<xsd:element name="year" type="xsd:int"/>
					<xsd:element name="semester" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="listPunishStuResponse">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="stus" type="tns:student"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getStudent">
		<wsdl:part element="tns:getStudent" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getStudentResponse">
		<wsdl:part element="tns:getStudentResponse" name="parameters" />
	</wsdl:message>
	<!-- ss -->
	<wsdl:message name="listRpByStu">
		<wsdl:part element="tns:listRpByStu" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listRpByStuResponse">
		<wsdl:part element="tns:listRpByStuResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="listRewardStu">
		<wsdl:part element="tns:listRewardStu" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listRewardStuResponse">
		<wsdl:part element="tns:listRewardStuResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="listPunishStu">
		<wsdl:part element="tns:listPunishStu" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listPunishStuResponse">
		<wsdl:part element="tns:listPunishStuResponse" name="parameters" />
	</wsdl:message>
	
	
	<wsdl:portType name="IStudentWsService">
		<wsdl:operation name="getStudent">
			<wsdl:input message="tns:getStudent" />
			<wsdl:output message="tns:getStudentResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="listRpByStu">
			<wsdl:input message="tns:listRpByStu" />
			<wsdl:output message="tns:listRpByStuResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="listRewardStu">
			<wsdl:input message="tns:listRewardStu" />
			<wsdl:output message="tns:listRewardStuResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="listPunishStu">
			<wsdl:input message="tns:listPunishStu" />
			<wsdl:output message="tns:listPunishStuResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	
	<wsdl:binding name="studentWsSOAP" type="tns:IStudentWsService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getStudent">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="listRpByStu">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="listRewardStu">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="listPunishStu">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="StudentWsService">
		<wsdl:port binding="tns:studentWsSOAP" name="StudentWsServicePort">
			<soap:address location="http://localhost:8888/ss" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
