07_soa/src/META-INF/wsdl/user_rpc.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.zttc.edu.cn" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="UserService"
	targetNamespace="http://service.zttc.edu.cn">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.zttc.edu.cn">
			<!-- import是在导入的时候加入了命名空间 -->
			<!-- <xsd:import namespace="http://service.zttc.edu.cn" schemaLocation="user.xsd"/> -->
			
			<!-- include是在当前的schema中加入了命名空间 -->
			<!-- <xsd:include schemaLocation="user.xsd"/> -->
			<xsd:element name="user" type="tns:user"></xsd:element>
			<xsd:element name="listResponse">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="unbounded">
						<xsd:element name="user" type="tns:user"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="user">
				<xsd:sequence>
					<xsd:element name="username" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element name="nickname" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="listUser">
				<xsd:sequence maxOccurs="unbounded">
					<xsd:element name="user" type="tns:user"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="add">
		<wsdl:part type="tns:user" name="user" />
	</wsdl:message>
	<wsdl:message name="addResponse">
	</wsdl:message>
	<wsdl:message name="delete">
		<wsdl:part type="xsd:string" name="username" />
	</wsdl:message>
	<wsdl:message name="deleteResponse">
	</wsdl:message>
	<wsdl:message name="list">
	</wsdl:message>
	<wsdl:message name="listResponse">
		<wsdl:part type="tns:user" name="user" />
	</wsdl:message>
	<wsdl:message name="login">
		<wsdl:part type="xsd:string" name="username" />
		<wsdl:part type="xsd:string" name="password" />
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part type="tns:user" name="user" />
	</wsdl:message>
	
	
	
	<wsdl:portType name="IUserService">
		<wsdl:operation name="add">
			<wsdl:input message="tns:add" />
			<wsdl:output message="tns:addResponse" />
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="tns:delete" />
			<wsdl:output message="tns:deleteResponse" />
		</wsdl:operation>
		<wsdl:operation name="list">
			<wsdl:input message="tns:list" />
			<wsdl:output message="tns:listResponse" />
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdl:input message="tns:login" />
			<wsdl:output message="tns:loginResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="userServiceSOAP" type="tns:IUserService">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<wsdl:input>
				<soap:body use="literal" namespace="http://service.zttc.edu.cn"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://service.zttc.edu.cn"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input>
				<soap:body use="literal" namespace="http://service.zttc.edu.cn"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://service.zttc.edu.cn"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="list">
			<wsdl:input>
				<soap:body use="literal" namespace="http://service.zttc.edu.cn"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://service.zttc.edu.cn"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdl:input>
				<soap:body use="literal" namespace="http://service.zttc.edu.cn"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://service.zttc.edu.cn"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- 在当前文件的最上面的name中填写的 -->
	<wsdl:service name="UserService">
		<wsdl:port binding="tns:userServiceSOAP" name="userServicePort">
			<soap:address location="http://localhost:9898/us" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
